// EXTEND

.boton{
    background-color: #26bf38;
    padding: 20px;
    margin: 50px;
    font-family: Botones, sans-serif;
    font-size: large;
    border: none;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
}

.boton--aceptar{
    @extend .boton;
    background-color: blue;
    color: yellow;
}

.boton--cancelar{
    @extend .boton;
    background-color: red;
    color: yellow;
}

// MIXINS

@mixin sizes($width, $height, $center2){
    height: $height;
    width: $width;
    text-align: $center2;
}

.parrafo__nosotros{
    @include sizes(600px, 450px, center);
}
    
