$colorPrincipal: green;

$colorSecundario: yellow;

// MAP
$redes: (
    facebook: rgb(37, 60, 186),
    instagram: rgb(227, 80, 178),
    linkedin: rgb(43, 99, 177)
);

@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }
}

// MAP GET

$estilos: (
    background-image: url(../images/amarilla/servicios-bg_amarilla.jpg),
    centro: center,
    tFuente: 35px,
    1rem: 1rem
);

.servicios__textos {
    background-image: map-get($estilos, background-image);
    text-align: map-get($estilos, centro);
    padding: map-get($estilos, 1rem);
    font-size: map-get($estilos, tFuente);
}

// EXTEND

.boton{
    background-color: #26bf38;
    padding: 20px;
    margin: 50px;
    font-family: Botones, sans-serif;
    font-size: large;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
}

.boton--aceptar{
    @extend .boton;
    background-color: blue;
    color: yellow;
}

.boton--cancelar{
    @extend .boton;
    background-color: red;
    color: yellow;
}

// MIXINS

@mixin sizes($width, $height, $center2){
    height: $height;
    width: $width;
    text-align: $center2;
}

.parrafo__nosotros{
    @include sizes(600px, 450px, center);
}
    
